body{
     background-color: black;
      color:white;
      
      
    }

    header{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    li{
      font-size: 18px;
      color:brown
    }

    #html{
    color:rgb(225,128, 0)
    }

    #css{
      color:rgb(104, 192, 251)
    }

    #javascript{
      color:rgb(215, 232, 57)
    }
    button{
      background-color:pink;
      padding: 10px 20px; /* ESPACO INTERNO */
      margin: 10px; /*ESPAÇO INTERNO */
      border-radius: 10px; /* BORDA */
      max-width: 100px;
    }

    span{
      font-size: 20px;
      color:blueviolet (119, 0, 255);
  
    }

    div{
      display: flex;
      flex-direction: column;
    }

    #acessivel{
      position: fixed;
      right: 20px;
      bottom: 20px;
    }
    
    hr{
      width: 60%;
    }